<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<body>

<div class="table-responsive" th:fragment="acc">
    <a type="button" class="btn btn-success" data-toggle="modal" data-target="#accModal">ADD</a>
    <table class="table table-bordered table-hover" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th:block th:each="head : ${theads}">
                <th th:text="*{head}"></th>
            </th:block>
            <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="acc : ${accounts}">
            <tr>
                <td th:text="*{acc.id}"></td>
                <td th:text="*{acc.username}"></td>
                <td th:text="*{acc.email}"></td>
                <td><a th:href="'/delete/acc?id='+${acc.id}" type="button" class="btn btn-danger">DELETE</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<div class="table-responsive" th:fragment="prod">
    <a type="button" class="btn btn-success" data-toggle="modal" data-target="#prodModal">ADD</a>
    <table class="table table-bordered table-hover" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th:block th:each="head : ${theads}">
                <th th:text="*{head}"></th>
            </th:block>
            <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="prod : ${products}">
            <tr>
                <td th:text="*{prod.id}"></td>
                <td th:text="*{prod.name}"></td>
                <td th:text="*{prod.owner.id}"></td>
                <td><a th:href="'/delete/prod?id='+${prod.id}" type="button" class="btn btn-danger">DELETE</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>
