<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="fragments/head :: header"></head>
<body>
<div th:replace="fragments/head :: navbar"></div>
<div class="container-fluid">
    <th:block th:switch="${c}">
        <div th:case="'acc'">
            <div th:replace="fragments/tables :: ${c}"></div>
        </div>
        <div th:case="'prod'">
            <div th:replace="fragments/tables :: ${c}"></div>
        </div>
        <div th:case="*">
            Hello World!
        </div>
    </th:block>
</div>

<div id="accModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Account</h4>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/acc}" th:object="${account}" method="post">
                    <div class="form-group">
                        <div class="form-label-group">
                            <label for="inputAccountName">Account name</label>
                            <input type="text" id="inputAccountName" th:field="*{username}"
                                   class="form-control" placeholder="Account name" required="required" autofocus="autofocus">
                        </div>
                        <div class="form-label-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" id="inputEmail" th:field="*{email}"
                                   class="form-control" placeholder="Email address" required="required">
                        </div>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Submit"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="prodModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Product</h4>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/prod}" th:object="${productDto}" method="post">
                    <div class="form-group">
                        <div class="form-label-group">
                            <label for="inputProductName">Product name</label>
                            <input type="text" id="inputProductName" th:field="*{name}"
                                   class="form-control" placeholder="Product name" required="required" autofocus="autofocus">
                        </div>
                        <div class="form-label-group">
                            <label for="inputOwnerEmail">Owner email address</label>
                            <input type="email" id="inputOwnerEmail" th:field="*{ownerEmail}"
                                   class="form-control" placeholder="Email address" required="required">
                        </div>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Submit"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>